
.blog hr{
    margin: 0rem 10px 3rem;
    border-color: rgba(250, 235, 215, 0.494);
}

.blogs-container {
    max-width: 800px;
    text-align: left;
    margin: 0px auto;
    border-radius: 10px;
}

.qa-container {
    margin: 2rem;
    box-shadow: 5px 10px 18px #88888880;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Q-Container {
    display: flex;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.058); */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.094), rgb(255, 255, 255));
}

.A-Container {
    display: flex;
}

.Q {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(5, 4, 4);
    padding-left: 10px;
}

.A {
    margin: 0;
    padding: 15px 10px;
    color: rgba(0, 0, 0, 0.665);
    font-size: 16px;
    font-weight: 500;
}

.Q-span {
    border-left: 8px solid rgba(255, 0, 0, 0.682);
    padding: 1rem 0 10px 10px;
    color: rgba(255, 0, 0, 0.713);
    font-size: 45px;
    align-self: stretch;
}

.A-span {
    border-left: 8px solid rgba(255, 0, 0, 0.426);
    padding-left: 10px;
    color: rgba(255, 0, 0, 0.56);
    font-size: 45px;
}