.categories {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

.category-card {
    max-width: 300px;
    position: relative;
    display: block;
    color: black;
}

.category-card img {
    width: 100%;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.hero-svg {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    opacity: .7;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
    font-weight: 500;
    z-index: 2;
}

.category-card:hover .hero-svg {
    opacity: 1;
}


@media screen and (max-width: 767px) {
    .categories {
        grid-template-columns: 1fr 1fr;
    }

    .hero-svg {
        left: 7%;
        opacity: .5;
    }
}

@media screen and (max-width: 467px) {
    .categories {
        grid-template-columns: 1fr 1fr;
    }

    .hero-svg {
        top: 5%;
        left: -8%;
    }

    .hero-text{
        font-size: 1.1rem;
    }

    .hero-svg{
        max-width: 100%;
        overflow: hidden;
        left: 0;
    }
}