
.chefs-container{
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}



@media screen and (max-width: 1000px) {
    .chefs-container{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}


@media screen and (max-width: 767px) {
    .chefs-container{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}